<nav class="navbar  navbar-inverse">
    <div class="navbar-header"> MY CRUD APP</div>
</nav>
<div *ngIf="isSpinner">
    <div class="loader"></div>
</div>
<div class="container" *ngIf="!isSpinner">
    <div class="row">
        <div style="width: 800px">
            <div>
                <div class="row">
                    <div class="col-lg-12 angular-image">
                    </div>
                </div>
                <table class="table table-bordered table-striped" *ngIf="tableData">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rowData of tableData.documents; let indx = index">
                            <td class="col-lg-4">{{rowData.fields.title.stringValue}}</td>
                            <td class="col-lg-5">{{rowData.fields.description.stringValue}}</td>
                            <td class="col-lg-3">
                                <button class="btn btn-warning btn-sm float-right"> 
                                     <span (click) = removeRow(rowData)> Delete</span> 
                                </button>
                                <button class="btn btn-primary btn-sm"> 
                                    <span (click) = updateRecord(rowData,indx)> Update</span>
                              </button>
                            </td>
                        </tr>
                    </tbody>
                </table> <button class="btn btn-primary" (click)="addRow()">Add a new row</button>
            </div>
        </div>
    </div>
    <div *ngIf="newRow" class="newRow">
        <label><span *ngIf="addition"> Add </span> <span *ngIf="updation"> Update </span> Record</label>
        <hr>
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" id="title" name="title" [(ngModel)]="title">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input class="form-control" id="description" name="description" [(ngModel)]="description">
        </div>
        <button type="submit" class="btn btn-default btn-primary" (click)="onSubmitRecord(data)">Save</button>
        <button type="submit" class="btn btn-default" (click)="cancelSave()">Cancel</button>
    </div>
</div>
<footer class="footer">
        <p class="text-muted text-center">Created by Nikita Kharya</p>
</footer>